/****************************************************************************************
   MOBILE/BASE STYLES
*****************************************************************************************/
* {
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	font-family: 'Times New Roman', 'Heuristica';
}


img {
	display: flex;
	width: 100%;
}

.icon-image {
	height: 175px;
}

.iconh2 {
	height: 55px;
}

.container {
	max-width:700px;
	margin: 0 auto;
	padding: 10px;
}

.container.photo{
	padding:  10px;
	width: 100%;
	display:  flex;
	max-width: 900px;
	text-align: center;
}

.flex > div {
	margin-bottom: 20px;
}


p.caption {
	font-size: .8rem;
	color:  gray; 
	margin:  0 auto; 
	text-align: left-center;
	padding-left:  5px;
}

p.text-date {
	margin: 0 auto;
	color: gray;
	font-size: 18px;
}

h1 {
	font-size: 28px;
}

h6 {
	margin: 0 auto;
	font-size: 18px;
}


h2 {
	font-size: 18px;
	text-align: center;
	font-family: 'Arial', sans-serif;
	padding-bottom: 0 auto;
}

.body-text {
å	font-family: 'Heuristica', 'Arial';
	font-size: 18;
}


.boxes {
	display:  flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding:  10px;
}

#box2 {
	background-color: lightblue;
}

.icon-text {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	margin-left: 6px;
	font-family: 'Arial', sans-serif;
}

.ref-text{
	padding: 10px;
	text-align: justify;
	font-size:  10px;
	font-family: 'Arial', sans-serif;
}

.source {
	font-size: 16px;
	margin-bottom: 4px;
}

.container-icons{
	padding:  5px;
	width:  100%;
	display: flex;
	max-width: 1200px;
}

.sourcelinks {
	margin: 3px;
}

/******************************************************************
 TABLET/DESKTOP STYLES
 ******************************************************************/
@media (min-width: 681px) {
	.flex{
		display: flex;
		justify-content: space-between;
	}

	.flex > div {
		flex-basis: 30%;
		flex-wrap:  wrap-reverse;
		padding: 10px;
	}
	h2 {
		height: 55px;
	}
	icon-image {
		height:  175ps;
	}	

	p.caption {
		text-align: left-center;
		max-width: 680px;
		padding: 0;
	}

}

/********************************************************************
 Desktop-Only Style
 ********************************************************************/
@media (min-width:  780px) {	
}
